
<!DOCTYPE html>
<html lang="es" >
<head>
<meta charset="UTF-8">
<title>ITBANK Login</title>
{% load static %}

<link rel="stylesheet" href="{% static 'login/login.css' %}"/>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Iniciar sesión</h2>
  <form id="login-form">
   
    <p>
    <input type="email" id="email" name="email" placeholder="Correo Electrónico" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="password" name="password" placeholder="Contraseña" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Login">
    </p>
  </form>
</div><!--login-form-wrap-->
<!-- partial -->
  
</body>
</html>
