
<!DOCTYPE html>
<html lang="es" >
<head>
<meta charset="UTF-8">
<title>ITBANK Login</title>
{% load static %}

<link rel="stylesheet" href="{% static 'login/login.css' %}"/>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Iniciar sesión</h2>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
   
    <p>
    <input type="text" id="username" name="username" placeholder="Nombre de usuario" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="password" name="password" placeholder="Contraseña" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Login">
    </p>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
  </form>
</div><!--login-form-wrap-->
<!-- partial -->
  
</body>
</html>
